.img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }
}

.loading {
  text-align: center;
  padding: 50px;
  color: white;
}